.wrapper {
  padding: var(--space-24);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 750px) {
    padding: var(--space-48);
  }

  @media (min-width: 1200px) {
    padding: 100px 200px;
  }

  @media (min-width: 2000px) {
    padding: 100px 400px;
  }
}

.image {
  width: 100%;
  align-self: center;

  @media (min-width: 1200px) {
    width: 80%;
  }
}

.text {
  margin: var(--space-24) 0;
  width: 300px;
  align-self: center;
  font-size: var(--font-size-18);
  text-align: center;
  font-weight: bold;

  @media (min-width: 750px) {
    width: 500px;
    font-size: var(--font-size-22);
  }

  @media (min-width: 1200px) {
    margin: var(--space-40) 0;
    width: 800px;
    font-size: var(--font-size-28);
  }
}

.header {
  margin-top: var(--space-24);

  @media (min-width: 750px) {
    font-size: var(--font-size-20);
  }

  @media (min-width: 1200px) {
    margin-top: var(--space-40);
  }
}

.github {
  margin: var(--space-24) 0;

  @media (min-width: 750px) {
    width: 60%;
  }

  @media (min-width: 2000px) {
    width: 40%;
  }

  @media (min-width: 1200px) {
    margin: var(--space-40) 0;
  }
}