.wrapper {
  padding: 24px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 750px) {
    padding: 50px;
  }

  @media (min-width: 1200px) {
    padding: 100px 200px;
  }

  @media (min-width: 2000px) {
    padding: 100px 400px;
  }
}

.image {
  width: 100%;
  align-self: center;

  @media (min-width: 1200px) {
    width: 80%;
  }
}

.text {
  margin: 24px 0;
  width: 300px;
  align-self: center;
  font-size: 18px;
  text-align: center;
  font-weight: bold;

  @media (min-width: 750px) {
    width: 500px;
    font-size: 22px;
  }

  @media (min-width: 1200px) {
    margin: 40px 0;
    width: 800px;
    font-size: 28px;
  }
}

.header {
  margin-top: 24px;

  @media (min-width: 750px) {
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    margin-top: 40px;
  }
}

.github {
  margin: 24px 0;

  @media (min-width: 750px) {
    width: 60%;
  }

  @media (min-width: 2000px) {
    width: 40%;
  }

  @media (min-width: 1200px) {
    margin: 40px 0;
  }
}